@model _7071Sprint1Demo.Models.Client

@{
    ViewData["Title"] = "Create Client";
}

<div style="margin-top:7rem; min-height:80vh;">
    <a asp-action="Index" class="text-decoration-none" style="color:#3d5cd7;font-weight:500;">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
    <h2 class="mt-2 mb-4">Create New Client</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactInfo" class="control-label">Contact Info</label>
                    <input asp-for="ContactInfo" class="form-control" />
                    <span asp-validation-for="ContactInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
