@model _7071Sprint1Demo.Models.Invoice

@{
    ViewData["Title"] = "Create Invoice";
}

<div style="margin-top:7rem; min-height:80vh;">
    <a asp-action="Index" class="text-decoration-none" style="color:#3d5cd7;font-weight:500;">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
    <h2 class="mt-2 mb-4">Create New Invoice</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ClientId" class="control-label">Client ID</label>
                    <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="IssueDate" class="control-label">Issue Date</label>
                    <input asp-for="IssueDate" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-dd'T'HH:mm")" />
                    <span asp-validation-for="IssueDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                    <input asp-for="TotalAmount" class="form-control" />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="IsPaid" id="isPaidCheckbox" />
                    <label class="form-check-label" for="isPaidCheckbox">Is Paid</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}