@{
    ViewBag.Title = "Registration Confirmation";
}

<h2>Registration Confirmed</h2>
<p>Your service registration has been successfully submitted.</p>
<p>
    @Html.ActionLink("Return to Home", "Index", "Home", null, new { @class = "btn btn-primary" })
</p>
