@model _7071Sprint1Demo.Models.RentHistory

@{
    ViewData["Title"] = "Rent History Details";
}

<div style="margin-top:7rem; min-height:80vh;">
    <a asp-action="Index" class="text-decoration-none" style="color:#3d5cd7;font-weight:500;">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
    <h2 class="mt-2 mb-4">Rent History Details</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Asset Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Asset.Type)
        </dd>
		<dt class="col-sm-2">
			Renter Name
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Renter.Name)
		</dd>
        <dt class="col-sm-2">
			Old Rent Amount
		</dt>
		<dd class="col-sm-10">
			$@Html.DisplayFor(model => model.OldRentAmount)
		</dd>
		<dt class="col-sm-2">
			New Rent Amount
		</dt>
		<dd class="col-sm-10">
			$@Html.DisplayFor(model => model.NewRentAmount)
            </dd>
		<dt class="col-sm-2">
            Effective Date
		</dt>
		<dd class="col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
    </dl>
</div>